<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <!--
      Update Server, Port, Uid, Pwd to match your MySQL setup.
      Default MySQL port is 3306.
    -->
    <add name="LeaveTrackerDB"
         connectionString="Server=localhost;Port=3306;Database=LeaveTrackerDB;Uid=root;Pwd=yourpassword;CharSet=utf8;"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForRequests="true" />
  </system.webServer>

</configuration>
